

<a href="/logout">Log Out</a>
<br> <br>
<div class="span12">
  <div class="span4"></div> <div class="span4"></div> <div class="span4">
<div class="form-group">
<form action="/new" class="form-inline" method="POST">
  <input type="text" placeholder="Enter Name" name="name" class="form-control"><br/> <br/>
  <input type="text" placeholder="Author Name" name="author" class="form-control"><br/> <br/>
  <select name="category" class="form-control">
  <option value="Mathematics">Mathematics</option>
  <option value="Physics">Physics</option>
  <option value="Chemistry">Chemistry</option>
  <option value="Biology">Biology</option>
</select>
<br><br>
  <input type="text" placeholder="ISDN NO." name="isdn_no" class="form-control"><br/> <br/>
  <input type="text" placeholder="Year" name="year" class="form-control">
  <br/> <br/> <br/>
  <button type="submit" class="btn">Submit</button><a href="/admin_welcome" class="btn btn-primary">Back</a>
</form>
</div>
</div>
</div>